/* las variables van arriba si no se utiliza distintos documentos para hacerlos */
/* COLORES */

$background-purple: #7B71F8;
$background-rose: #F43069;
$background-green: #30F4BF;
$ligth-color: white;
$noir-color: #000;

/* TIPOGRAFIA */

$font-title: "barrio";
$font-general: "open sans";
