/* las variables van arriba si no se utiliza distintos documentos para hacerlos */
/* COLORS */

$background-purple: #7B71F8;
$background-rose: #F43069;
$background-green: #30F4BF;
$ligth-color: white;
$noir-color: #000;

/* FONT-FAMILY */

$font-title: "barrio";
$font-general: "open sans";

/* FONT-SIZE */
$text-large: 2em;
$text-medium: 1.5em;
$text-normal: 1em;
